.button {
  padding: 10px;
  min-width: 60px;
  width: fit-content;
  height: 40px;
  box-shadow: 0 1px 2px rgb(129, 129, 129) , 2px 2px 0 rgb(80, 80, 80); 
  background-color: rgb(190, 189, 189);
  cursor: pointer;
  &:hover {
  background-color: rgb(143, 149, 184);
  }
  user-select: none; 
}