.muteButtonOff {
  padding: 5px;
  width: 80px;
  height: 80px;
  background-color: rgb(70, 119, 96);
}

.muteButtonOn {
  padding: 5px;
  width: 80px;
  height: 80px;
  background-color: rgb(124, 98, 98);
}