.muteButtonOff {
  padding: 10px;
  background-color: rgb(92, 185, 142);
  &:hover { 
    background-color: rgb(66, 129, 99);
  }
}

.muteButtonOn {
  padding: 10px;
  background-color: rgb(231, 122, 122);
  &:hover { 
    background-color: rgb(179, 107, 107);
  }
}