.instrument {
  display: flex;
  justify-content: space-evenly;
  min-width: 1000px;
  
  h3{
    width: 90px;
  }

  section {
    display: flex;
    input {
      width: 30px;
      height: 30px;
    }
  } 
}