.instrument {
    display: flex;
    justify-content: space-evenly;
    min-width: 1000px;
    height: 50px;
    align-content: center;

    h3 {
        width: 90px;
        padding-top: 5px;
    }

    section {
        display: flex;
        input {
            width: 30px;
            height: 30px;
        }
    }
}
