.muteButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 2px rgb(129, 129, 129), 2px 2px 0 rgb(80, 80, 80);
    padding: 10px;
    user-select: none;
    cursor: pointer;
}

.on {
    background-color: rgb(92, 185, 142);
    &:hover {
        background-color: rgb(66, 129, 99);
    }
}

.off {
    background-color: rgb(231, 122, 122);
    &:hover {
        background-color: rgb(179, 107, 107);
    }
}
