.instrControls {
  display: flex;
  flex-direction: row;
  background-color: rgb(219, 214, 214);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
  }
  div {
    p {
      font-style: italic;
    }
  }
}