.instrControls {
  display: flex;
  flex-direction: row;
  background-color: rgb(219, 214, 214);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
  }
  div {
    &.aboutMe {
      text-align: right;
      p {
        &.italics {
          font-style: italic;
        }
      }
      a{
        font-size: 1.6em;
        &:visited{
          color: black
        }
      }
    }
  }
}