.app {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    width: 100vw;
    height: 100vh;

    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.17em;
        font-weight: bold;
    }
}
