.topSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
  padding: 20px;

  .sampleControls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}